<div id="moneyListingsArea">
  <table width="100%">
    <tr>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="start" 
          placeholder="Start Date" 
          [formControl]="moneyForm.get('startDateFormControl')">
          <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start></mat-datepicker>
          <mat-error *ngIf="moneyForm.get('startDateFormControl').hasError('required')">
            Date Required
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="end" 
          placeholder="End Date" 
          [formControl]="moneyForm.get('endDateFormControl')">
          <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
          <mat-datepicker #end></mat-datepicker>
          <mat-error *ngIf="moneyForm.get('endDateFormControl').hasError('required')">
            Date Required
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div *ngFor="let tran of transactionService.Transactions">
    ID: 
      <a [routerLink]="['/Money', tran.transactionID]">{{tran.transactionID}}</a>
        Amount: {{tran.amount}} 
        Date: {{tran.createdDate}}
        Desc:{{tran.transactionDesc}} 
        Running Total:{{tran.runningTotal}}
  </div>
</div>