<!-- <form novalidate (ngsubmit)="submit()"
 [formGroup]="moneyForm">

 <mat-grid-list cols="3" rowHeight="150px" margin="10px">

    <mat-grid-tile>
        <mat-form-field>
          <input matInput [matDatepicker]="start" 
          placeholder="Start Date" 
          [formControl]="moneyForm.get('startDateFormControl')">
          <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start></mat-datepicker>
          <mat-error *ngIf="moneyForm.get('startDateFormControl').hasError('required')">
            Date Required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-form-field>
            <input matInput [matDatepicker]="end" 
            placeholder="End Date" 
            [formControl]="moneyForm.get('endDateFormControl')">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
            <mat-error *ngIf="moneyForm.get('endDateFormControl').hasError('required')">
              Date Required
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

    <mat-grid-tile item-width="500">
        <mat-card class="result">
            <mat-card-content>
                <mat-slide-toggle
                    class="example-margin"
                    [formControl]="moneyForm.get('debitCreditFormControl')"
                    >
                    <h2>Debit/Credit</h2>
                </mat-slide-toggle>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>  
        <mat-form-field>
            <input type="text" placeholder="categorySelect" aria-label="categorySelect" matInput 
              [formControl]="moneyForm.get('categoryFormControl')" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredCategories | async" [value]="option">
                {{option.description}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="moneyForm.get('categoryFormControl').hasError('required')">
              Category Required
            </mat-error>
          </mat-form-field>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="amount" 
            [formControl]="moneyForm.get('amountFormControl')"
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="moneyForm.get('amountFormControl').hasError('required')">
        Amount Required
        </mat-error>
        <mat-error *ngIf="moneyForm.get('amountFormControl').hasError('isNumeric')">
          Amount must be numeric
        </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="description" 
                [formControl]="moneyForm.get('descFormControl')"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="moneyForm.get('descFormControl').hasError('required')">
            Description Required
            </mat-error>
            </mat-form-field>
          </div>
    </mat-grid-tile>
    
  </mat-grid-list>
  <button mat-button (click)="submit()" [disabled]="!moneyForm.valid">
    Submit
  </button> 
</form> -->
<div id="moneyEntryArea">
  <table width="100%">
    <tr>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="start" 
          placeholder="Start Date" 
          [formControl]="moneyForm.get('startDateFormControl')">
          <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start></mat-datepicker>
          <mat-error *ngIf="moneyForm.get('startDateFormControl').hasError('required')">
            Date Required
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="end" 
          placeholder="End Date" 
          [formControl]="moneyForm.get('endDateFormControl')">
          <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
          <mat-datepicker #end></mat-datepicker>
          <mat-error *ngIf="moneyForm.get('endDateFormControl').hasError('required')">
            Date Required
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  

  <div *ngFor="let tran of transactions">
    <div>ID: {{tran.transactionID}} Amount: {{tran.amount}} Desc:{{tran.transactionDesc}} Running Total:{{tran.runningTotal}}</div>
  </div>
</div>