<form novalidate [formGroup]="moneyListingsForm">
  <mat-card class="outer-card">
    <label class="label">Dates to select from</label>
    <mat-card>
      <mat-card-content>
        <table width="100%">
          <tr>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="startDt" 
                placeholder="Start Date" 
                [formControl]="moneyListingsForm.get('startDateFormControl')">
                <mat-datepicker-toggle matSuffix [for]="startDt"></mat-datepicker-toggle>
                <mat-datepicker #startDt></mat-datepicker>
                <mat-error *ngIf="moneyListingsForm.get('startDateFormControl').hasError('required')">
                  Date Required
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="endDt" 
                placeholder="End Date" 
                [formControl]="moneyListingsForm.get('endDateFormControl')">
                <mat-datepicker-toggle matSuffix [for]="endDt"></mat-datepicker-toggle>
                <mat-datepicker #endDt></mat-datepicker>
                <mat-error *ngIf="moneyListingsForm.get('endDateFormControl').hasError('required')">
                  Date Required
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>

    <label class="label">Transactions</label>
    <button mat-button style="width: 150px" [routerLink]="['/Money', '0']">
      New Transaction
    </button>
    <mat-card>
      <mat-card-content>
          <div *ngFor="let tran of transactionService.Transactions">
              <a [routerLink]="['/Money', tran.transactionID]">{{tran.transactionID}}</a>
                Amount: {{tran.amount}} 
                Date: {{tran.createdDate}}
                Desc:{{tran.description}} 
                Running Total:{{tran.runningTotal}}
          </div>
      </mat-card-content>
    </mat-card> 
  </mat-card>
</form>