<div class="tableContainer mat-elevation-z24">
  <div class="loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="problem" *ngIf="isErrorState">
      There was a problem
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" 
    matSort matSortActive="description" 
    matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="categoryId">
      <mat-header-cell *matHeaderCellDef>Category Id</mat-header-cell>
      <mat-cell *matCellDef="let cat"> {{cat.categoryId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
      <mat-cell *matCellDef="let cat"> {{cat.description}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
  <mat-paginator [length]="resultsLength"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
<button mat-button (click)="openDialog()">
    <i class="material-icons">create_new_folder</i> Category
</button>
