<h1>Current Charts</h1>
  <mat-accordion *ngFor="let c of charts">
    
      <mat-expansion-panel class="expander">
          <mat-expansion-panel-header>
            <mat-panel-title class="expander-top">
              ChartId: {{c.chartId}}
            </mat-panel-title>
            <mat-panel-description  class="expander-top">
              {{c.chartName}}
            </mat-panel-description>
            <mat-panel-description>
                <button mat-button (click)="openEditFlight(c)">Edit</button>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let cp of c.chartPlans">
              <div>{{cp.chartPlanName}} <button mat-button (click)="openEditFlightPlan(cp)">Edit</button>
              </div>
          </div>

        </mat-expansion-panel>
  </mat-accordion>