<h1>Current Flights</h1>
  <mat-accordion *ngFor="let f of flights">
    
      <mat-expansion-panel class="expander">
          <mat-expansion-panel-header>
            <mat-panel-title class="expander-top">
              FlightId: {{f.flightId}}
            </mat-panel-title>
            <mat-panel-description  class="expander-top">
              {{f.flightName}}
            </mat-panel-description>
            <mat-panel-description>
                <button mat-button (click)="openEditFlight(f)">Edit</button>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let fp of f.flightPlans">
              <div>{{fp.flightPlanName}} <button mat-button (click)="openEditFlightPlan(fp)">Edit</button>
              </div>
          </div>

        </mat-expansion-panel>
  </mat-accordion>