@import '../styles.scss';

#header {
  background-color: $sdark;
  color: $slight;
}

#headerTitle {
  margin-left: 44px;
  font-size: 20pt;
}

.content-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  width: 90%;
  height: 90%;
  align-items: top;
  margin-left: 180px;
  margin-top: 60px;
}

.sidenav-drawer {
  width: 180px;
  padding: 1%;
}