<mat-drawer-container class="content-container" autosize>
        <mat-toolbar id="header">
                <button mat-button (click)="drawer.toggle()">
                        <i class="material-icons">menu</i> Menu
                    </button>
                  <h1 id="headerTitle">{{title}} - {{authService.subTitle}}</h1>
                  <hr/>
                  <h2>{{authService.getLoggedInDetail()}}</h2>
              </mat-toolbar>
  <mat-drawer #drawer class="sidenav-drawer" mode="over">
    <ng-container *ngIf="authService.userAssigned()">  
        <button mat-button routerLink="Category" routerLinkActive="active">
            <i class="material-icons">vpn_key</i> Category
        </button>
    </ng-container>

    <ng-container *ngIf="authService.userAssigned()">
        <button mat-button routerLink="Money" routerLinkActive="active">
            <i class="material-icons">create</i> Entry
        </button>
    </ng-container>

    <ng-container *ngIf="authService.userAssigned()">
        <button mat-button routerLink="Charting" routerLinkActive="active">
            <i class="material-icons">insert_chart</i> Charting
        </button>
    </ng-container>

    <ng-container *ngIf="!authService.userAssigned()">
            <button mat-button routerLink="Login" routerLinkActive="active">
                <i class="material-icons">open_in_browser</i> Login
            </button>
    </ng-container>

    <ng-container *ngIf="authService.userAssigned()">
            <button mat-button (click)="logOut()">
                <i class="material-icons">exit_to_app</i> Logout
            </button>
    </ng-container>

  </mat-drawer>
  
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>