<mat-drawer-container class="content-container" autosize>
        <mat-toolbar id="header">
                <button mat-button (click)="drawer.toggle()">
                        <i class="material-icons">menu</i> Menu
                    </button>
                  <h1 id="headerTitle">{{title}} {{globalService.subTitle}}</h1>
              </mat-toolbar>
  <mat-drawer #drawer class="sidenav-drawer" mode="over">
      <button mat-button routerLink="Category" routerLinkActive="active">
          <i class="material-icons">vpn_key</i> Category
      </button>
      <br />
      <button mat-button routerLink="MoneyEntry" routerLinkActive="active"  (click)="navChanged('Entry')">
          <i class="material-icons">create</i> Entry
      </button>
      <br />
      <button mat-button routerLink="Reconciliation" routerLinkActive="active"  (click)="navChanged('Reconcile')">
          <i class="material-icons">compare_arrows</i> Reconcile
      </button>
      <br />
      <button mat-button routerLink="Query" routerLinkActive="active"  (click)="navChanged('Query')">
          <i class="material-icons">search</i> Query
      </button>
      <br />
      <button mat-button routerLink="Charting" routerLinkActive="active"  (click)="navChanged('Charting')">
          <i class="material-icons">insert_chart</i> Charting
      </button>
  </mat-drawer>

  
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>