@import '../styles.scss';

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: top;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.tgl {
  margin: 5px;
  padding: 5px;
  text-align:center;
  background-color: $secondary;
}

.mat-button-wrapper {
  color: white;
}